html {
    text-align: center;
    margin: 50px 50px;
    background-color: rgb(235,235,255);
}

p {
    text-align: center;
}

canvas {
    text-align: center;
    color: red;
}

head{
   text-align: center;
}

body{
    text-align: center;
    font-family: arial;
    font-size: 14px;
    
}

div {
    text-align: center;
    column-width: 300px;
}

figcaption {
    text-align: center;
    font-size: 12px;
}

figure {
    text-align: center;
}